<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->

  <variable name="linePrefix" value="${date:format=yyyy-MM-dd HH\:mm\:ss} ${pad:padding=5:inner=${uppercase:${level}}} ${callsite:IncludeSourcePath=false} - "/>
  <variable name="exceptionFormat" value="${onexception:${newline}EXCEPTION OCCURRED\:${exception:format=type,message,method,stacktrace:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}"/>
  <variable name="appName" value="PromoPort"/>
  
  <targets>
    <!-- add your targets here -->

    <target xsi:type="File"
            name="default"
            fileName="C:\Users\adm\Desktop\.NET C#\nlog-all-${shortdate}.log"
            layout="${linePrefix}${message}${exceptionFormat}" />

    <target xsi:type="File"
            name="request_time"
            fileName="C:\Users\adm\Desktop\.NET C#\nlog-request-time-${shortdate}.log"
            layout="${linePrefix}${message}${exceptionFormat}" />
  
    <target xsi:type="File"
            name="exceptions"
            fileName="C:\Users\adm\Desktop\.NET C#\nlog-exceptions-${shortdate}.log"
            layout="${linePrefix}${message}${exceptionFormat}" />
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <logger name="*" minlevel="Info" writeTo="default" />
    <logger name="RestaurantAPI.Middleware.RequestTimeMiddleware" minlevel="Warning" writeTo="request_time" />
    <logger name="RestaurantAPI.*" minlevel="Error" writeTo="exceptions" />
    
  </rules>
</nlog>